/* flex布局 */
.u-f, .u-f-ac, .u-f-ajc {
  display: flex;
}

.u-f-ac, .u-f-ajc {
  align-items: center;
}

.u-f-ajc {
  justify-content: center;
}

.u-f-jsb {
  justify-content: space-between;
}

.u-f-jsa {
  justify-content: space-around;
}

.u-f1 {
  flex: 1;
}

.u-f-column {
  flex-direction: column;
}

/* 全局按钮 */
.user-btn{
  width: 100% !important;
  margin: 20upx 0 !important;
  padding: 20upx 0 !important;
  color: #333333 !important;
  background: #FFE933 !important;
  font-size: 24upx !important;
}

.user-btn:after{
  border: none;
}

.user-btn-disable{
  background: #F4F4F4 !important;
  color: #909090 !important;
}

.user-btn-disable:after{
  border: 2upx solid #EEEEEE;
}

.common-input{
  border-bottom: 2upx solid #F4F4F4;
}
